# Day View
tom
topm

In [5]:
# from data_tools.testing import test_fun
from data_tools.aws_tools import AWSHandler

In [13]:
aws_handler = AWSHandler("testing")
merged_raw_data = aws_handler.get_file_from_bucket("02-12-2021", "market_data.csv", "ebs-trading-arena")

In [14]:
merged_raw_data.tail(10)

,timestamp,invoker,TA1_offer_0_timestamp,TA1_offer_0_rate,TA1_offer_0_bbp_timestamp,TA1_offer_0_size,TA1_offer_0_original_timestamp,TA1_bid_0_timestamp,TA1_bid_0_rate,TA1_bid_0_bbp_timestamp,...,EBS_offer_0_bbp_timestamp,EBS_offer_0_size,EBS_offer_0_original_timestamp,EBS_offer_0_quote_count,EBS_bid_0_timestamp,EBS_bid_0_rate,EBS_bid_0_bbp_timestamp,EBS_bid_0_size,EBS_bid_0_original_timestamp,EBS_bid_0_quote_count
9990,1638404445656,['FCI_bid_0'],1638404445462,1.13172,1638404445464,1000000,NaN,1.638404e+12,1.13167,1.638404e+12,...,1.638404e+12,3000000.0,NaN,NaN,1.638404e+12,1.13165,1.638404e+12,1000000.0,NaN,NaN
9991,1638404445713,"['TA1_offer_0', 'TA1_bid_0']",1638404445712,1.13172,1638404445713,1000000,NaN,1.638404e+12,1.13167,1.638404e+12,...,1.638404e+12,3000000.0,NaN,NaN,1.638404e+12,1.13165,1.638404e+12,1000000.0,NaN,NaN
9992,1638404445791,"['IBI_bid_0', 'IBI_offer_0']",1638404445712,1.13172,1638404445713,1000000,NaN,1.638404e+12,1.13167,1.638404e+12,...,1.638404e+12,3000000.0,NaN,NaN,1.638404e+12,1.13165,1.638404e+12,1000000.0,NaN,NaN
9993,1638404445996,"['IDB_offer_0', 'IDB_bid_0']",1638404445712,1.13172,1638404445713,1000000,NaN,1.638404e+12,1.13167,1.638404e+12,...,1.638404e+12,3000000.0,NaN,NaN,1.638404e+12,1.13165,1.638404e+12,1000000.0,NaN,NaN
9994,1638404446048,"['IBI_bid_0', 'IBI_offer_0']",1638404445712,1.13172,1638404445713,1000000,NaN,1.638404e+12,1.13167,1.638404e+12,...,1.638404e+12,3000000.0,NaN,NaN,1.638404e+12,1.13165,1.638404e+12,1000000.0,NaN,NaN
9995,1638404446106,['FCI_bid_0'],1638404445712,1.13172,1638404445713,1000000,NaN,1.638404e+12,1.13167,1.638404e+12,...,1.638404e+12,3000000.0,NaN,NaN,1.638404e+12,1.13165,1.638404e+12,1000000.0,NaN,NaN
9996,1638404446304,"['IBI_bid_0', 'IBI_offer_0']",1638404445712,1.13172,1638404445713,1000000,NaN,1.638404e+12,1.13167,1.638404e+12,...,1.638404e+12,3000000.0,NaN,NaN,1.638404e+12,1.13165,1.638404e+12,1000000.0,NaN,NaN
9997,1638404446497,"['IDB_offer_0', 'IDB_bid_0']",1638404445712,1.13172,1638404445713,1000000,NaN,1.638404e+12,1.13167,1.638404e+12,...,1.638404e+12,3000000.0,NaN,NaN,1.638404e+12,1.13165,1.638404e+12,1000000.0,NaN,NaN
9998,1638404447000,"['IDB_offer_0', 'IDB_bid_0']",1638404445712,1.13172,1638404445713,1000000,NaN,1.638404e+12,1.13167,1.638404e+12,...,1.638404e+12,3000000.0,NaN,NaN,1.638404e+12,1.13165,1.638404e+12,1000000.0,NaN,NaN
9999,1638404447084,['FCI_bid_0'],1638404445712,1.13172,1638404445713,1000000,NaN,1.638404e+12,1.13167,1.638404e+12,...,1.638404e+12,3000000.0,NaN,NaN,1.638404e+12,1.13165,1.638404e+12,1000000.0,NaN,NaN

In [11]:
merged_raw_data.iloc[0]['invoker']

"['TA1_offer_0']"

In [ ]:
print('great')